{
#if (${operation.paramType} == "object")
    	if (${operation.param.name} == null) {
    		throw new IllegalArgumentException("Can't insert a null data object into db.");
    	}
    	
#if(${table.ticket})
        try {
            ${operation.param.name}.${table.iwPkColumn.setterName}(this.ticketService.nextValue());
        } catch (TicketException e) {
            throw new RuntimeException("Set TicketID exception.", e);
        }
#end

        this.getSqlSession().insert("${table.namespace}.${operation.name}", ${operation.param.name});

        return ${operation.param.name}.${table.iwPkColumn.getterName}();
#else
## Not supported yet.
#parse ("operation/not-support.vm")
#end
    }