<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

    <!-- ====================================== -->
    <!--  DAO配置 -->
    <!-- ====================================== -->
#foreach ($table in $plugin.sortedTables)
    <bean id="${table.beanName}DAO" parent="abstractDAO" class="${table.package}.dal.mybatis.MyBatis${table.baseClassName}DAO">
#if(${table.ticket})
		<property name="ticketService">
			<bean class="com.github.obullxl.ticket.support.DefaultTicketService" parent="abstractTicket">
				<property name="name" value="${table.ticketName}" />
			</bean>
    	</property>
#end
#if(${table.fmtNo})
		<property name="ticketEncode">
			<bean class="${table.fmtNoName}" />
    	</property>
#end
    </bean>
	
#end
</beans>
