#parse("copyright.vm")
package ${table.package}.dal.dto;

#foreach($importClass in $table.doImports)
#if($importClass != 'java.util.Date')
import $importClass;
#end
#end

#foreach ($copy in $table.copys)
#if(${copy.type} == 'dto-import')
	${copy.copy}
#end
#end

#if($table.valve)
import ${table.package}.dal.valve.${table.baseClassName}Valve;
#end

/**
 * A data object class directly models database table <tt>$table.sqlName</tt>.
 */
public class ${table.baseClassName}DTO extends BaseDTO {
    private static final long serialVersionUID = 741231858441822688L;

#foreach ($copy in $table.copys)
#if(${copy.type} == 'dto-body')
	${copy.copy}
#end
#end

#if($table.valve)
	/** Valve */
	private ${table.baseClassName}Valve valve;
	
	/**
     * FetchValve
     */
    public ${table.baseClassName}Valve findValve() {
        if (this.valve == null) {
            this.valve = new ${table.baseClassName}Valve(this);
        }

        return this.valve;
    }
    
    /**
     * ResetValve
     */
    public ${table.baseClassName}DTO resetValve() {
        this.valve = null;
		return this;
    }
#end

#parse("do-fields.vm")

}
