#parse("copyright.vm")
package ${table.package}.dal.mybatis;

import ${table.qualifiedDAOClassName};

#foreach($importClass in $table.myBatisImports)
import $importClass;
#end

#set($insert=false)
#foreach ($operation in ${table.operations})
#if (${operation.mappedStatementType} == "insert")
	#set($insert=true)
#end
#end

#if(${table.ticket})
import com.github.obullxl.ticket.TicketService;
#if($insert)
import com.github.obullxl.ticket.api.TicketException;
#end
#end
import com.github.obullxl.lang.Profiler;

/**
 * A mybatis based implementation of DAO interface <tt>${table.qualifiedDAOClassName}</tt>.
#parse("description-java.vm")
 */
public class ${table.ibatisClassName} extends org.mybatis.spring.support.SqlSessionDaoSupport implements ${table.DAOClassName} {
#if(${table.ticket})
	/** TicketID */
	private TicketService ticketService;
	
	public void setTicketService(TicketService ticketService) {
		this.ticketService = ticketService;
	}
	
	public TicketService getTicketService() {
        return ticketService;
    }
#end

#foreach($operation in $table.operations)
#parse("operation/op-${operation.templateSuffix}.vm")
#parse("operation/opbody-${operation.templateSuffix}.vm")

#end
}
