<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
#foreach ($table in $plugin.sortedTables)
		<typeAlias alias="${table.baseClassName}DTO" type="${table.package}.dal.dto.${table.baseClassName}DTO"/>
#end
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/mybatis-${CfgUtils.findValue("app.name")}-result-maps.xml" />
#foreach ($table in $plugin.sortedTables)
		<mapper resource="mybatis/${CfgUtils.findValue("app.name")}/${CfgUtils.findValue("app.dbtype")}/${table.baseClassName}-mapper.xml" />
#end
	</mappers>
</configuration>
