<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${table.namespace}">
    <!-- ============================================= -->
    <!-- RESULT MAPS                                   -->
    <!-- ============================================= -->
    
##generate all other resultmaps
    <!-- result maps for database table ${table.sqlName} -->
#foreach ($resultMap in ${table.resultMaps})
    <resultMap id="${resultMap.idAttr}" type="${table.baseClassName}DTO">
#foreach ($result in ${resultMap.results})
        <result property="${result.property}" column="${result.column}" javaType="${result.javaType}" />
#end
    </resultMap>

#end

	<!-- ============================================= -->
    <!-- Public SQLS                                   -->
    <!-- ============================================= -->
#foreach ($sql in ${table.sqls})
	<sql id="${sql.id}">
#if(${sql.escape})
	<![CDATA[
		${sql.sql}
	]]>
#else
		${sql.sql}
#end
	</sql>

#end

	<!-- ============================================= -->
    <!-- Public CopyS                                  -->
    <!-- ============================================= -->
#foreach ($copy in ${table.copys})
#if(${copy.type} == "xml-mapper")
	${copy.copy}
#end

#end

##generate all statemetns
    <!-- ============================================= -->
    <!-- mapped statements for ${table.ibatisClassName} -->
    <!-- ============================================= -->
    
#foreach ($operation in ${table.operations})
    <!-- mapped statement for ${table.ibatisClassName}.${operation.name} -->
#if (${operation.mappedStatementType} == "insert")
    <insert id="${operation.name}">
#if (${table.hasSequence} && ${table.iwPkColumn})
    <selectKey resultClass="${table.iwPkColumn.javaType}" keyProperty="${table.iwPkColumn.variableName}">
    <![CDATA[
        SELECT ${table.sequence}.nextval FROM dual
    ]]>
    </selectKey>
#end
#if (${operation.hasSqlmap})
        $operation.mappedStatementSql
#else
    <![CDATA[
        $operation.mappedStatementSql
    ]]>
#end
    </insert>

#elseif (${operation.mappedStatementType} == "select")
#if (${operation.paging})
    <select id="${operation.name}" ${operation.mappedStatementResult}>
#if (${operation.hasSqlmap})
        $operation.mappedStatementSqlForPaging
#else
    <![CDATA[
        $operation.mappedStatementSqlForPaging
    ]]>
#end
    </select>

## an additional select count(*) statement for paging
    <!-- mapped statement for ${table.ibatisClassName}.${operation.name}, needed by paging -->
    <select id="${operation.mappedStatementIdForCount}" ${operation.mappedStatementResultForCount} #if($!{operation.getParameterClass()}) parameterClass = "$!{operation.getParameterClass()}" #end>
#if (${operation.hasSqlmap})
        $operation.mappedStatementSqlForCount
#else
    <![CDATA[
        $operation.mappedStatementSqlForCount
    ]]>
#end
    </select>

#else
    <select id="${operation.name}" ${operation.mappedStatementResult} #if($!{operation.getParameterClass()}) parameterClass = "$!{operation.getParameterClass()}" #end>
#if (${operation.hasSqlmap})
        $operation.mappedStatementSql
#else
    <![CDATA[
        $operation.mappedStatementSql
    ]]>
#end
    </select>

#end
#else
    <${operation.mappedStatementType} id="${operation.name}" #if($!{operation.getParameterClass()}) parameterClass="$!{operation.getParameterClass()}" #end>
#if (${operation.hasSqlmap})
        $operation.mappedStatementSql
#else
    <![CDATA[
        $operation.mappedStatementSql
    ]]>
#end
    </${operation.mappedStatementType}>

#end
#end
</mapper>
