#parse("copyright.vm")
package ${plugin.package}.dal.dto;

import com.github.obullxl.lang.ToString;

/**
 * Base class for all data objects.
 */
public abstract class BaseDO extends ToString {
	private static final long serialVersionUID = 2534171338675523870L;
}
