#parse("copyright.vm")
package ${plugin.baseDAOPackage};

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

/**
 * Base interface for all data access objects.
 */
public interface BaseDAO {
    /** Logger */
    public static final Logger logger = LoggerFactory.getLogger(BaseDAO.class);

}
