    public $operation.simpleReturnType ${operation.name}(#foreach ($param in $operation.params)#if($velocityCount > 1), #end${param.simpleJavaType}#if($StringUtils.isNotBlank($param.genericType))<$param.genericType>#end ${param.name}#end)#if ($operation.simpleExceptions.size() > 0) throws #foreach ($e in $operation.simpleExceptions)#if($velocityCount > 1), #end${e}#end#end