{
	Profiler.enter("DAO: ${table.namespace}.${operation.name}");
	try {
#if (${operation.paramType} == "object")
    	if (${operation.param.name} == null) {
    		throw new IllegalArgumentException("Can't insert a null data object into db.");
    	}
    	
#if(${table.ticket})
        try {
#if(${table.fmtNo})
            ${operation.param.name}.${table.iwPkColumn.setterName}(this.ticketEncode.encode(this.ticketService.nextValue()));
#else
            ${operation.param.name}.${table.iwPkColumn.setterName}(this.ticketService.nextValue());
#end
        } catch (TicketException e) {
            throw new RuntimeException("Set PrimaryKey exception.", e);
        }
#end

        this.getSqlSession().insert("${table.namespace}.${operation.name}", ${operation.param.name});

        return ${operation.param.name}.${table.iwPkColumn.getterName}();
#else
## Not supported yet.
#parse ("operation/not-support.vm")
#end
	} finally {
		Profiler.release();
	}
}
